/**
 * Estilos criados;
 */
 
 
 .all-body{
 	margin:3%;
 	padding:3%;
 	background-color: #F8F8FF;
 }
 
 .container-crf{
 	width:90%;
 	margin-right: auto;
 	margin-left: auto;
 	padding-left: 15px;
 	padding-right: 15px;
 }
 
  .box-title-crf{
 	background-color: #A9A9A9;
 	height: 30%;
 	margin-bottom:15px;
 	color: white;
 }
 
 .form-default-crf{
 	border-left: 1px;
 	margin:5%;
 	width: 40%;
 	height: 50%;
 	font-family: "Trebuchet MS", Helvetica, sans-serif;
 }
 
 .font-error{
 	color: #FFA07A;
 }